.blogs{
    margin: 6rem 9.6rem;
}

.blogs h1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 62px;
line-height: 75px;
/* or 121% */

letter-spacing: -0.04em;

background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

margin-bottom: 4rem;
inline-size:  52rem;

}

.blogs-sec{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 4rem;
    place-items: center
}

.grid1{
    grid-row-start: 1;
    grid-row-end: 3;
}